.container-div {
    width: 51%;
    margin: 0 3px;
}

.tiles_div{
    width: 100%;
}

.tile {
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 5px;
    margin: 1px 0;
}

.tile_item{
    display: flex;
    justify-content: center;
    width: 150px;
    /* border: 1px solid red; */
}

.heading_tile{
    width: 150px;
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
    height: 45px;
    font-weight: 600;
}

.heading_tile p{
    margin: 0;
}

.units{
    font-size:x-small;
    color: #bfbfbf;
}

.date_type_div{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.date_type_div img{
    margin-right: 5px;
}